@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

/* Chrome, Safari, Edge, Opera */
#longitude::-webkit-outer-spin-button,
#longitude::-webkit-inner-spin-button,
#latitude::-webkit-outer-spin-button,
#latitude::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
